.scheduleDate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1vw;
}

.scheduleDateNumber{
    font-size: 1.5rem;
    font-family: 'Formula1-bold';
    margin-bottom: 0.2vh;
}

.scheduleDateMonth{
    background-color: #e8e8e8;
    border-radius: 20px;
    text-align: center;
    padding: 0.2rem 0.5rem;
    margin-top: 0.2vh;
    min-width: 3vw;
    font-family: 'Formula1-Regular';
}