.navBar{
    height: 10vh;
    width: 100%;
    background-color: #ff1801;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.navBar a{
    padding: 10px;
}

.title a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Formula1-Black';
}

.navList{
    display: flex;
    font-family: 'Formula1-Bold';
}

.navLink{
    display: flex;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
}

.navLink:hover, .subNavButton:hover{
    background-color: #ffffff;
    color: #ff1801;
}

.subNav{
    margin-left: 1vw;
}
.subNav .navLink{
    border-radius: 0;
}

.subNavButton{
    color: #ffffff;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.subNav:hover .subNavContent{
    height: auto;
}

.subNavContent{
    display: flex;
    height: 0;
    flex-direction: column;
    position: absolute;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}

.subNavContent a{
    text-decoration: none;
    color: #ffffff;
    background-color: #ff1801;
}

.subNavContent:hover .subNavButton{
    color: #ff1801;
    background-color: #ffffff;
}