.nextRaceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.titleNextRace{
    align-self: flex-start;
    margin: 1vh 0 1vh 5vw;
    font-family: 'Formula1-Regular';
    font-style: italic;
}