.nextRaceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.titleNextRace{
    align-self: flex-start;
    margin: 1vh 0 1vh 5vw;
    font-family: 'Formula1-Regular';
    font-style: italic;
}

.raceContainer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}